body{

}

#content{
margin:0 auto;

}

#construccion{
margin:auto;
min-width:1200px;
max-width:1200px;
margin-top:0px;

position:relative;
}

h1{
color:003acd;
float:left;
position:relative;
margin-right:30px;
}

img{
position:relative;
float:left;
}

h2{
color:003acd;
margin-right:30px;
}

#logo{
top:-55px;
z-index:-1;
}